.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.formWrapper {
  display: inline-block;
  padding: 25px;
  border: 1px solid black;
}
.btnCreate {
  background-color: blue;
  color: white;
  border: none;
  height: 30px;
}
.inputWrapper {
  margin-bottom: 20px;
}
.input {
  height: 40px;
  width: 350px;
  border: 1px solid black;
  font-family: "Apple Braille", serif;

}
.textarea {
  width: 350px;
  height: 100px;
  border: 1px solid black;
  resize: none;
  font-family: "Apple Braille", serif;
}
.selectsWrapper {
  margin-bottom: 10px;
}
.select {
  height: 40px;
  border: 1px solid black;
  margin-right: 15px;
}